@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");

body {
  width: 100vw;
  margin: 0;
  background-color: #ede7d9;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

main > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

form label {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: #d5a021;
}

textarea {
  width: 350px;
  height: 500px;
}

.output-form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.output-form > div label {
  width: 100%;
  justify-content: center;
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  background: #4b4237;
  color: #ede7d9;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  margin: 10px 0;
}

.button.clear {
  background-color: #736b60;
}

.button.clear:hover {
  background-color: #a49694;
}

button:hover {
  background: #736b60;
  transition: all 0.5s;
}

button.copy {
  display: flex;
  align-items: center;
  color: #4b4237;
  background: transparent;
  padding: 0;
  margin: 0;
}

button.copy img {
  margin-left: 6px;
}

button.copy:hover {
  color: #a49694;
}

.copied-text.hidden {
  display: none;
}

.copied-text {
  text-transform: lowercase;
  color: #a49694;
  position: absolute;
  right: 30px;
  animation: fadeIn ease 500ms;
  -webkit-animation: fadeIn ease 500ms;
  -moz-animation: fadeIn ease 500ms;
  -o-animation: fadeIn ease 500ms;
  -ms-animation: fadeIn ease 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
